/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-family: var(--font-poppins);
}
/* Base */
html, body {
  font-family: 'Inter', sans-serif;
}

/* NavBar */

.navBar {
  display: flex;
  flex-direction: row;
  flex-grow: inherit;
  justify-content: space-between;
}

.logoNavbar {
  margin: 15px 0px 8px 8px;
}
#logo {
  width: 35px;
  height: 25px;
}
#menuDesktop {
  display: none;
}

.menuResponsive {
  margin: 15px 12px 8px 0px;
}

/* Modal Menu */
.modal {
  display: none; /*Hidden by default */
  position: fixed; 
  z-index: 1; 
  right:0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  opacity: 0;
}
.modal-content {
  height: 100vh;
  position: fixed;
  right: 0;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.linkItemNav {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
}
.modal-content button{
  position: fixed;
  top: 0;
  right:0;
  margin: 10px;
}
.modal-content button:hover {
  cursor: pointer;
}
/* sections */
.imgHome {
  margin: 5px 10px 20px 10px;
  /* overflow: hidden; */
  background-image: url('/assets/images/image-web-3-mobile.jpg');
  background-size: cover;
  width: auto;
  height: 332px;
}

.section1 {
  margin: 5px 10px 20px 10px;
}

.section1 h1 {
  font-weight: 800;
  font-size: 42px;
}
.section1 p {
  margin-top: 10px;
  width: 340px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: hsl(200, 1%, 48%);
}
.section1 button {
  margin-top: 20px;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  padding: 10px 18px 10px 18px;
  letter-spacing: 2px;
}
.section1 button:hover {
 background-color: black;
 cursor: pointer;
}
.section2 {
  display: flex;
  flex-direction: column;
  margin: 5px 10px 20px 10px;
  padding: 15px;
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}

.section2 hr {
  border-color: hsla(233, 8%, 79%, 0.543);
  margin-bottom: 10px;
}
.section2 h2 {
  color: hsl(35, 77%, 62%);
  margin-left: 6px;
  margin-bottom: 17px;
}
.subsect2-p {
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  margin: 10px 5px 10px 5px;
  font-weight: 400;
  font-size: 15px;
}

.subsect2-p h3 a {
  color: hsl(36, 100%, 99%);
  margin-bottom: 16px;
}
.subsect2-p h3 a:hover {
  color:hsl(35, 77%, 62%);
  cursor: pointer
}
.subsect2-p p {
  color: hsl(233, 8%, 79%);
  justify-content: center;
  margin-right: 24px;
  margin-bottom: 10px;
  line-height: 26px;
}
.section3 {
  display: flex;
  flex-direction: column;
  margin: 5px 10px 20px 10px;
}
.subsect3 {
  display: flex;
  column-gap: 20px;
  margin-top: 30px;
  
}
.text-subsect3 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.text-subsect3 h2 {
  color: hsl(233, 8%, 79%);
  font-weight: 600;
}
.text-subsect3 p {
  color: hsl(236, 13%, 42%);
  font-weight: 400;
  line-height: 26px;
  font-size: 15px;
  width: inherit;
}
.text-subsect3 h3 a:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

@media (min-width: 1440px){


.menuNavbar {
  display: flex;
}
.menuResponsive {
  display: none;
}
#menuDesktop {
  margin-left: 10px;
  align-self: center;
  padding: 10px;
  display: flex;
  column-gap: 50px;
}
.linkItemNav {
  color: hsl(236, 13%, 42%);
}
.linkItemNav:hover {
  
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

}